<div class="ui inverted vertical footer segment">
	<div class="ui main text container">
		<div class="ui tiny images">
		  	<img class="ui bottom aligned  rounded image " 	src="/images/semantic.png">
			<img class="ui bottom aligned  rounded image " 	src="/images/heroku.png">
			<img class="ui bottom aligned  image " 			src="/images/npm2.png">
			<img class="ui bottom aligned  image " 			src="/images/ejs.jpg">
			<img class="ui bottom aligned  image " 			src="/images/express.png">
			<img class="ui bottom aligned  image " 			src="/images/HTML5.png">
			<img class="ui bottom aligned  image " 			src="/images/nodejs.png">
		</div>
		<span class="ui footer" >Technologies used to develop this blog app </span>
	</div>

		<button class="ui inverted orange button github left attached">
		<i class="github icon"></i>
		GitHub
		</button>
	
		<button class="ui inverted blue linkedin button right floated">
		<i class="linkedin icon"></i>
		LinkedIn
		</button>
</div>
</body>
</html>