<div class="ui inverted vertical footer segment">
	<div class="ui main text container">
		<h1 class="ui header">Temporary footer pictures</h1>
		<img class="wireframe" src="/images/firebase.png">
		<img class="wireframe" src="/images/semantic.png">
		<img class="wireframe" src="/images/heroku.png">
		<img class="wireframe" src="/images/react.png">
	</div>
	<button class="ui inverted orange button github left attached">
	<i class="github icon"></i>
	GitHub
	</button>
	<button class="ui inverted green linkedin button right attached">
	<i class="linkedin icon"></i>
	LinkedIn
	</button>
</div>
</body>
</html>